.Authentication_Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://media.everlane.com/image/upload/c_scale,dpr_1.0,f_auto,q_auto,w_auto/c_limit,w_1400/v1/i/fcf4236b_256e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Authentication_Container a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.Authentication_Inner_Container{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Authentication_Inner_Container h1{
    font-size: 28px;
    margin-bottom: 1vh;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}
.Authentication_Inner_Container h2{
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}
.Authentication_Container p{
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}

.Authentication_Inner_Container form{
    width: 100%;
    text-align: center;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Authentication_Inner_Container form input{
    width: 460px;
    height: 43px;
    background: #f8f8f8;
    margin-bottom: 1vh;
    border: none;
    border-bottom:1px solid lightgray ;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}
.Login_Container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Register_Container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showpass{
    position: relative;
    width: 460px;
    height: 43px;
    margin-bottom: 1vh;
}
.showpass span{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

@media (max-width: 1090px){
    .Authentication_Inner_Container{
        width: 100%;
        height: 100%;
    }
    .Login_Container{
        width: 100%;
    }
    .Register_Container{
        width: 100%;
    }
}